
<h3>Places You Are Logged In</h3>

<% @user.session_tokens.each do |token| %>
  <li><%= token.browser_info %>
    @ <%= [token.latitude, token.longitude] %>
    <% if token.session_token == session[:session_token] %>
     <span><- Current Device</span>
    <% else %>
  <form action="<%= log_out_other_device_session_url %>" method="post">
    <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    <input type="hidden" name="token[session_token]" value="<%= token.session_token %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="name" value="Log Out!">
  </form>
  <% end %>
  </li>
<% end %>
